<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Gravity</title>
  <script defer src="vue-2.5.13.min.js" charset="utf-8"></script>
  <script defer src="main.js" charset="utf-8"></script>
  <style>
  html, body {
    height: 100%;
    padding: 0;
    margin: 0;
  }
  #stage {
    position: relative;
    background: #ddd;
    height: 100%;
  }
  .char {
    position: absolute;
    width: 50px;
    height: 100px;
    background: red;
  }
  </style>
</head>
<body>

  <div id="stage" :style="'width:'+stage.w+'px; height:'+stage.h+'px'">

    <table>
      <tr>
        <td>y2: {{p1.y}}</td>
      </tr>
      <tr>
        <td>y2: {{p1.y + p1.h}}</td>
      </tr>
    </table>

    <div id="p1" class="char" :style="'top:'+p1.y+'px; left:'+p1.x+'px; width:'+p1.w+'px; height:'+p1.h+'px'"></div>
    <div id="p2" class="char" :style="'top:'+p2.y+'px; left:'+p2.x+'px; width:'+p2.w+'px; height:'+p2.h+'px'"></div>
    <div id="p3" class="char" :style="'top:'+p3.y+'px; left:'+p3.x+'px; width:'+p3.w+'px; height:'+p3.h+'px'"></div>
    <div id="p4" class="char" :style="'top:'+p4.y+'px; left:'+p4.x+'px; width:'+p4.w+'px; height:'+p4.h+'px'"></div>

  </div>

</body>
</html>
